@keyframes bannerTitleCursor {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes loading-cube--LeftTop {
  0% {
    top: 0;
    left: 0;
    transform: rotate(0); }
  25% {
    top: 0;
    left: calc(100% - 2.1rem);
    transform: rotate(90deg); }
  50% {
    top: calc(100% - 2.1rem);
    left: calc(100% - 2.1rem);
    transform: rotate(180deg); }
  75% {
    top: calc(100% - 2.1rem);
    left: 0;
    transform: rotate(270deg); }
  100% {
    top: 0;
    left: 0;
    transform: rotate(360deg); } }

@keyframes loading-cube--RightBottom {
  0% {
    bottom: 0;
    right: 0;
    transform: rotate(0); }
  25% {
    bottom: 0;
    right: calc(100% - 2.1rem);
    transform: rotate(-90deg); }
  50% {
    bottom: calc(100% - 2.1rem);
    right: calc(100% - 2.1rem);
    transform: rotate(-180deg); }
  75% {
    bottom: calc(100% - 2.1rem);
    right: 0;
    transform: rotate(-270deg); }
  100% {
    bottom: 0;
    right: 0;
    transform: rotate(-360deg); } }

:root {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif; }

body {
  background: #222222; }

.primary-main {
  font-size: 6rem;
  font-weight: 600; }

.primary-sub {
  font-size: 5.1rem;
  font-weight: 600; }

.u-display-none {
  display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  perspective: 90rem; }
  .header__nav {
    font-size: 0;
    text-align: right;
    padding: 3rem 3rem 0 0; }
    .header__nav__link {
      position: relative; }
      .header__nav__link:link, .header__nav__link:visited {
        display: inline-block;
        font-size: 2.1rem;
        padding: 1.2rem 1.8rem;
        text-decoration: none;
        letter-spacing: .3rem;
        color: #fff;
        border: 0.15rem solid #fff;
        border-radius: 10px;
        transition: all .6s; }
      .header__nav__link:hover {
        color: #222222;
        background: #fff;
        border-color: #222222;
        box-shadow: 2px 0 0 1px white;
        transform: translateX(-6px) translateZ(-10px); }
      .header__nav__link:not(:last-child) {
        margin-right: 2.1rem; }
      .header__nav__link::after {
        content: '';
        position: absolute;
        left: 1.8rem;
        top: 3.3rem;
        height: 0;
        width: 0;
        padding: .1rem 0;
        background: #222222;
        transition: all .6s; }
      .header__nav__link:hover::after {
        padding: .1rem 36%; }
  @media only screen and (max-width: 600px) {
    .header__nav {
      text-align: center; }
      .header__nav__link:link, .header__nav__link:visited {
        padding: .6rem .9rem; }
      .header__nav__link:not(:last-child) {
        margin-right: .6rem; } }

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .loading-container {
    position: relative; }
    .loading-container::after {
      content: attr(title);
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      right: 0;
      transform: translateY(100%);
      text-align: center;
      font-size: 1.8rem;
      color: #fff; }
  .loading .loading--cube {
    position: relative;
    width: 12rem;
    height: 12rem; }
    .loading .loading--cube::before, .loading .loading--cube::after {
      content: '';
      position: absolute;
      width: 2.1rem;
      height: 2.1rem;
      background: #fff; }
    .loading .loading--cube::after {
      top: 0;
      left: 0;
      animation: loading-cube--LeftTop 1.5s ease-in-out  infinite; }
    .loading .loading--cube::before {
      bottom: 0;
      right: 0;
      animation: loading-cube--RightBottom 1.5s ease-in-out infinite; }

.page-direct {
  position: fixed;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  z-index: 999; }
  .page-direct > a:link, .page-direct > a:visited {
    display: block;
    text-decoration: none;
    font-size: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #fff;
    margin: 1.2rem 0; }
  .page-direct > a.choose {
    background: #cd0000; }

.intro {
  height: 100vh;
  background: #fff; }

.banner {
  background: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .banner__title {
    max-width: 90%;
    color: #fff;
    letter-spacing: .8rem;
    text-align: center;
    text-shadow: 0.9rem 0.6rem 0.3rem rgba(114, 113, 119, 0.9);
    margin-bottom: 3rem;
    box-shadow: 0 0 0 1px #cd0000; }
    .banner__title > .banner__titleCursor {
      text-shadow: none; }
  .banner__timeline {
    font-size: 2.4rem;
    color: #fff; }

.main {
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .main-page {
    height: 100vh;
    transition: all 1s; }
