@keyframes bannerTitleCursor {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes loading-cube--LeftTop {
  0% {
    top: 0;
    left: 0;
    transform: rotate(0); }
  25% {
    top: 0;
    left: calc(100% - 2.1rem);
    transform: rotate(90deg); }
  50% {
    top: calc(100% - 2.1rem);
    left: calc(100% - 2.1rem);
    transform: rotate(180deg); }
  75% {
    top: calc(100% - 2.1rem);
    left: 0;
    transform: rotate(270deg); }
  100% {
    top: 0;
    left: 0;
    transform: rotate(360deg); } }

@keyframes loading-cube--RightBottom {
  0% {
    bottom: 0;
    right: 0;
    transform: rotate(0); }
  25% {
    bottom: 0;
    right: calc(100% - 2.1rem);
    transform: rotate(-90deg); }
  50% {
    bottom: calc(100% - 2.1rem);
    right: calc(100% - 2.1rem);
    transform: rotate(-180deg); }
  75% {
    bottom: calc(100% - 2.1rem);
    right: 0;
    transform: rotate(-270deg); }
  100% {
    bottom: 0;
    right: 0;
    transform: rotate(-360deg); } }

:root {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif; }

.primary-main {
  font-size: 6rem;
  font-weight: 600; }

.primary-sub {
  font-size: 5.1rem;
  font-weight: 600; }

@media only screen and (max-width: 990px) {
  .primary-main {
    font-size: 4.2rem; }
  .primary-sub {
    font-size: 3.6rem; } }

.heading-thread {
  font-size: 3.6rem;
  font-weight: 900; }

.heading-fourth {
  font-size: 3rem;
  font-weight: 500; }

.heading-fifth {
  font-size: 2.7rem;
  font-weight: 900; }

.u-display-none {
  display: none; }

.u-color-white {
  color: #fff; }

.u-color-black {
  color: #222222; }

.u-border-white {
  border-color: #fff; }

.u-border-black {
  border-color: #222222; }

.u-body-overflow-hidden {
  position: absolute;
  width: 100vw;
  overflow: hidden; }
  @media only screen and (max-width: 990px) {
    .u-body-overflow-hidden {
      overflow-y: scroll; } }

.header {
  perspective: 90rem; }
  .header__nav {
    font-size: 0;
    text-align: right;
    padding: 3rem 3rem 0 0;
    box-shadow: #fff; }
    .header__nav__link {
      position: relative; }
      .header__nav__link:link, .header__nav__link:visited {
        display: inline-block;
        font-size: 2.1rem;
        padding: 1.2rem 1.8rem;
        text-decoration: none;
        letter-spacing: .3rem;
        border: .15rem solid;
        border-radius: 10px;
        transition: all .6s; }
      .header__nav__link:hover {
        color: #222222;
        background: #fff;
        border-color: #222222;
        box-shadow: 2px 0 0 1px white;
        transform: translateX(-6px) translateZ(-10px); }
      .header__nav__link:not(:last-child) {
        margin-right: 2.1rem; }
      .header__nav__link::after {
        content: '';
        position: absolute;
        left: 1.8rem;
        top: 3.3rem;
        height: 0;
        width: 0;
        padding: .1rem 0;
        background: #222222;
        transition: all .6s; }
      .header__nav__link:hover::after {
        padding: .1rem 36%; }
  .header + .banner {
    margin-top: -7.78rem; }
  @media only screen and (max-width: 990px) {
    .header__nav {
      padding-right: 0;
      text-align: center; }
      .header__nav__link:link, .header__nav__link:visited {
        margin: 0 .9rem; }
      .header__nav__link:not(:last-child) {
        margin-right: 0; }
    .header + .banner {
      margin-top: -7.8rem; } }
  @media only screen and (max-width: 375px) {
    .header {
      position: fixed;
      top: 3rem;
      right: 3rem;
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      background: #fff;
      text-align: center;
      font-size: 1.5rem;
      line-height: 6rem;
      letter-spacing: .3rem;
      cursor: pointer;
      z-index: 999; }
      .header > span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
      .header__nav {
        padding: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: none;
        z-index: -99; }
        .header__nav__link {
          position: absolute; }
          .header__nav__link:link, .header__nav__link:visited {
            font-size: 0;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            visibility: hidden;
            transition: all .3s linear; }
          .header__nav__link:not(:last-child) {
            margin-right: 0; }
          .header__nav__link::after {
            content: '';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            padding: 0;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: auto;
            height: auto;
            font-size: 2.4rem;
            color: #fff;
            background: #00cdcd;
            border-radius: 50%;
            letter-spacing: .1rem;
            transition: all 0.3s cubic-bezier(0.07, 0.17, 0.87, 0.31);
            visibility: visible;
            padding-left: .24rem; }
          .header__nav__link:hover {
            box-shadow: none;
            transform: none;
            background: none;
            border-color: transparent; }
          .header__nav__link:hover::after {
            padding: 0; }
        .header__nav--open .header__nav__link:first-child {
          transform: translateX(-7.5rem) translateY(-2.1rem); }
        .header__nav--open .header__nav__link:nth-child(2) {
          transform: translateX(-5.7rem); }
        .header__nav--open .header__nav__link:nth-child(3) {
          transform: translateX(0); }
        .header__nav--open .header__nav__link:nth-child(1)::after {
          content: '\f015'; }
        .header__nav--open .header__nav__link:nth-child(2)::after {
          content: '\f0b1';
          transform: translateY(4.2rem); }
        .header__nav--open .header__nav__link:nth-child(3)::after {
          content: 'C';
          font-size: 3rem;
          transform: translateY(7.5rem); }
      .header + .banner {
        margin-top: 0; } }

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222222; }
  .loading-container {
    position: relative; }
    .loading-container::after {
      content: attr(title);
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      right: 0;
      transform: translateY(100%);
      text-align: center;
      font-size: 1.8rem;
      color: #fff; }
  .loading .loading--cube {
    position: relative;
    width: 12rem;
    height: 12rem; }
    .loading .loading--cube::before, .loading .loading--cube::after {
      content: '';
      position: absolute;
      width: 2.1rem;
      height: 2.1rem;
      background: #fff; }
    .loading .loading--cube::after {
      top: 0;
      left: 0;
      animation: loading-cube--LeftTop 1.5s ease-in-out  infinite; }
    .loading .loading--cube::before {
      bottom: 0;
      right: 0;
      animation: loading-cube--RightBottom 1.5s ease-in-out infinite; }

.page-direct {
  position: fixed;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  z-index: 999; }
  .page-direct > a:link, .page-direct > a:visited {
    display: block;
    text-decoration: none;
    font-size: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #fff;
    margin: 1.2rem 0; }
  .page-direct > a.choose {
    background: #cd0000; }
  @media only screen and (max-width: 990px) {
    .page-direct {
      display: none; } }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .intro-wrap {
    overflow: hidden; }
  .intro__img-box {
    float: left;
    position: relative;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    overflow: hidden; }
    .intro__img-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: middle; }
      .intro__img-box img:not([src]) {
        visibility: hidden; }
      .intro__img-box img::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #222222;
        visibility: visible; }
      .intro__img-box img::after {
        content: attr(alt);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
        color: #fff;
        font-size: 2.4rem;
        line-height: 24rem;
        visibility: visible; }
    .intro__img-box--right {
      margin-left: -24rem; }
  .intro__txt {
    overflow: hidden; }
    .intro__txt--left {
      float: left;
      width: 100%; }
    .intro__txt--right {
      padding-left: 3rem; }
    .intro__txt-part {
      margin-bottom: 2.4rem; }
  .intro__title {
    margin-bottom: 1.2rem; }
  .intro__content {
    font-size: 1.8rem;
    text-indent: 3rem;
    line-height: 1.5;
    letter-spacing: .3rem;
    font-weight: 600; }
    .intro__content--left {
      margin-right: 24rem; }
  @media only screen and (max-width: 990px) {
    .intro {
      display: block; }
      .intro-wrap {
        padding: 3rem 0; }
      .intro__img-box {
        float: none;
        width: 18rem;
        height: 18rem;
        margin: auto;
        overflow: auto; }
        .intro__img-box img::after {
          line-height: 18rem; }
      .intro__txt {
        overflow: auto; }
        .intro__txt--left {
          float: none;
          width: auto; }
        .intro__txt--right {
          padding-left: 0; }
      .intro__content--left {
        margin: 0; }
      .intro-world {
        display: flex;
        flex-direction: column; }
        .intro-world > .intro__img-box {
          order: -1; } }
  @media only screen and (max-width: 375px) {
    .intro__title {
      text-align: center;
      margin: 1.2rem; } }

.banner {
  background: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .banner__title {
    max-width: 90%;
    color: #fff;
    letter-spacing: .8rem;
    text-align: center;
    text-shadow: 0.9rem 0.6rem 0.3rem rgba(114, 113, 119, 0.9);
    margin-bottom: 3rem; }
    .banner__title > .banner__titleCursor {
      text-shadow: none; }
  .banner__timeline {
    font-size: 2.4rem;
    text-align: center;
    color: #fff; }
  @media only screen and (max-width: 375px) {
    .banner__title > .banner__titleCursor {
      display: none; } }

.sample-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3%;
  font-size: 0; }

.sample__wrap {
  position: relative;
  text-align: right;
  width: 30%;
  margin: calc(9% / 6);
  box-shadow: 0 0 0 1px #222222;
  transition: all .3s;
  border-radius: 6px;
  cursor: pointer; }
  .sample__wrap:hover {
    background: #7AFEC6; }

.sample__img-box {
  position: relative;
  height: 210px; }

.sample__img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .sample__img:not[src] {
    visibility: hidden; }
  .sample__img::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #01baef;
    visibility: visible; }

.sample__txt {
  text-align: left;
  padding: 0 .6rem 3.6rem;
  transition: all .3s; }
  .sample__txt__title {
    padding: 1.2rem 0; }
  .sample__txt__intro {
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 1.5; }
  .sample__txt__list {
    list-style-type: disc;
    padding-left: 1.5rem; }
    .sample__txt__listItem {
      font-size: 1.8rem;
      margin: .75rem 0; }
  .sample__txt__link:link, .sample__txt__link:visited {
    text-decoration: none;
    font-size: 1.8rem;
    color: #cd0000;
    transition: all .3s;
    font-weight: 800; }
  .sample__txt__link:hover {
    color: orange; }

.sample__readmore:link, .sample__readmore:visited {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.8rem;
  text-decoration: none;
  color: #222222;
  padding: 1.2rem 1.8rem;
  box-shadow: 0 0 0 1px #222222;
  margin: 0 .9rem .9rem 0;
  border-radius: 6px;
  transition: all .3s; }

.sample__readmore:hover {
  background: #0a2342;
  color: #fff;
  box-shadow: none; }

@media only screen and (max-width: 990px) {
  .sample__wrap {
    width: 75%;
    margin: 0 auto 2.1rem; } }

@media only screen and (max-width: 720px) and (min-width: 600px) {
  .sample__wrap {
    width: 45%; } }

.main {
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .main-page {
    position: relative;
    height: 100vh;
    transition: all 1s; }
  .main-intro {
    padding: 0 6%; }
  .main--sample {
    background: #f0f0f0; }
    .main--sample > .header::after {
      content: '';
      display: block;
      height: 1px;
      padding: 2.1rem 0;
      margin: 0 6%;
      background: #222222;
      background-clip: content-box; }
  @media only screen and (max-width: 990px) {
    .main {
      height: auto; }
      .main-page {
        height: auto; } }
  @media only screen and (max-width: 375px) {
    .main--sample > .header::after {
      display: none; } }
