$color-primary-Blue: #01baef;
$color-primary-BlueDark: #0a2342;
$color-primary-BlueLight: #30eafe;


$color-primary-Purple: #ea00be;
$color-primary-Gray: #727177;


$color-primary-Black: #222222;
$color-white: #fff;