@keyframes imgshow__scroll-1 {
    0% {
    }
    100% {
        left: 330px;
    }
}
@keyframes imgshow__scroll-2 {
    0% {

    }
    100% {
        left: -165px;
    }
}
@keyframes imgshow__scroll-3 {
    0% {

    }
    100% {
        left: -690px;
    }
}
@keyframes imgshow__scroll-4 {
    0% {

    }
    100% {
        left: -1200px;
    }
}
@keyframes imgshow__scroll-5 {
    0% {

    }
    100% {
        left: -1700px;
    }
}