* {
    padding: 0;
    margin: 0;
    list-style:none;
}

html,input,button {
    font-family: "Noto Sans TC","PingFangTC-Semibold","Semibold",sans-serif;
}

body {
    // padding: 0 21%;
    @media only screen and (max-width: 1200px){
        // padding: 0 12%;
    }
    @media only screen and (max-width:1024px) {
        // width: 1024px;
        padding: 0;
    }
}