// .header {
//     padding: 30px 3% 0;
//     overflow: hidden;
//     background: #fff;
//     &::after {
//         content: '';
//         display: block;
//         background: $color-primary-Gray;
//         height: 0;
//         margin: 0px -5% 0;
//         padding: 1px 0;
//     }
// }
.main {
    height: 100vh;
    position: relative;
    overflow: hidden;

    &-page {
        height: 100vh;
        transition: all 1s;
    }
}
