.main {
    height: 100vh;
    position: relative;
    overflow: hidden;

    &-page {
        position: relative;
        height: 100vh;
        transition: all 1s;
    }

    &--main {
        background: $color-primary-Black;
    }
    &--sample {
        background: $color-gray-light;

        & > .header::after {
            content: '';
            display: block;
            height: 1px;
            padding: 2.1rem 0;
            margin: 0 6%;
            background: $color-primary-Black;
            background-clip: content-box;
        }
    }
}
