.banner {
    padding: 150px 18%;
    background: url("./img/banner-bk.jpg") no-repeat center 75%/ cover;

    &__txt {
        padding: 90px 0;
        border-radius: 12px;
        text-align: center;
        // color: red;
        background: linear-gradient(115deg,rgba($color-primary-rose,.75),rgba($color-primary-carndial,.75),rgba($color-primary-cotta,.9));

        &__heading {
            color: #fff;
        }

        &__small {
            display: block;
            font-size: 24px;
            font-weight: 100;
            margin: 21px 0;
            color: #ccc;
        }
    }
}