.banner {
    // &__avator {

    //     width: 150px;
    //     height: 150px;
    //     border-radius: 50%;
    //     background: #fff;
    //     margin: auto;
    // }

    height: 100vh;
    background: $color-primary-Black;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        color: $color-white;  
        letter-spacing: .8rem;
        text-align: center;
        // color: transparent;
        text-shadow: .9rem .6rem .3rem rgba($color-primary-Gray,.9);
        & > &Cursor {
            text-shadow: none;
            // animation: bannerTitleCursor 1.2s linear infinite;
        }
    }
}