.header {
    perspective: 90rem;

    &__nav {    
        font-size: 0;
        text-align: right;
        padding: 3rem 3rem 0 0;
        box-shadow: #fff;
        &__link {
            position: relative;
            &:link,
            &:visited {
                display: inline-block;
                font-size: 2.1rem;
                padding: 1.2rem 1.8rem;
                text-decoration: none;
                letter-spacing: .3rem;
                border: .15rem solid;
                border-radius: 10px;
                
                transition: all .6s;
            }
            &:hover {
                color: $color-primary-Black;
                background: $color-white;
                border-color: $color-primary-Black;
                box-shadow: 2px 0 0 1px rgba($color-white,75);
                transform: translateX(-6px) translateZ(-10px)
            }

            &:not(:last-child) {
                margin-right: 2.1rem;
            }

            &::after {
                content: '';
                position: absolute;
                left: 1.8rem;
                top: 3.3rem;

                height: 0;
                width: 0;
                padding: .1rem 0;
                background: $color-primary-Black;

                transition: all .6s;
            }
            &:hover::after {
                padding: .1rem 36%;
            }
        }
    }

    & + .banner {
        margin-top: -7.78rem;
    }

    @include respond(big-mobile) {

        &__nav {
            padding-right: 0;
            text-align: center;



            &__link {
                &:link,
                &:visited {
                    // padding: 1.2rem 1.8rem;
                    margin: 0 .9rem;
                }

                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }

        & + .banner {
            margin-top: -7.8rem;
        }
    }

    @include respond(phone) {

        position: fixed;
        top: 3rem;
        right: 3rem;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background: $color-white;
        text-align: center;
        font-size: 1.5rem;
        line-height: 6rem;
        letter-spacing: .3rem;
        cursor: pointer;
        z-index: 2;

        & > span {
            //because we use js to append span in header,so span is the last one element inside header. => 後來居上
            position: absolute;
            //z-index:auto => 0  //有定位時，默認的z-index:auto當作z-index:0看，但跟z-index:0不同的是 auto 沒有產生疊層上下文(結界)
            left: 0; right:0;
            top: 0; bottom: 0;
            user-select: none;
        }

        &__nav {
            padding: 0;
            position: absolute;left: 0;right: 0;top: 0;bottom: 0;
            z-index: 0;  //產生疊層上下文(結界)，讓nav 內層元素的z-index比較限制再nav內
            margin: auto;
            box-shadow: none;
            &__link {
                position: absolute;
                &:link,
                &:visited {
                    font-size: 0;
                    padding: 0;
                    margin: 0;
                    border: none;
                    border-radius: 0;
                    left: 0;right: 0;top: 0;bottom: 0;
                    background: transparent;

                    transition: all .3s linear;
                }
    
                &:not(:last-child) {
                    margin-right: 0;
                }

                &::after {
                    content: '';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    padding: 0;
                    left: 0; right: 0;
                    bottom: 0; top: 0;
                    width: auto;
                    height: auto;
                    font-size: 2.4rem;
                    color: $color-white;
                    background: #00cdcd;
                    border-radius: 50%;
                    letter-spacing: .1rem;
                    transition: all .3s cubic-bezier(.07,.17,.87,.31);

                    //let icon look line text-align: center
                    padding-left: .24rem;
                }
                


                &:hover {
                    box-shadow: none;
                    transform: none;
                    background: none;
                    border-color: transparent;
                }
                &:hover::after {
                    padding: 0;
                }
            }

            //&__nav__link--open
            &--open &__link{
                &:first-child {
                    transform: translateX(-7.5rem) translateY(-2.1rem);
                }
                &:nth-child(2) {
                    transform: translateX(-5.7rem);
                }
                &:nth-child(3) {
                    transform: translateX(.1rem);
                }
            }
            &--open &__link,
            &--openIE &__link {
                &:nth-child(1)::after {
                    content: '\f015';
                }
                &:nth-child(2)::after {
                    content: '\f0b1';
                }
                &:nth-child(3)::after {
                    content: 'C';
                    font-size: 3rem;
                }
            }

            &--open &__link--note,
            &--openIE &__link--note {
                &:nth-child(1)::after{
                    content: '\f02d';
                }
            }

             //&__nav__link--open
            &--open &__link {
                &:nth-child(2)::after { 
                    transform: translateY(4.2rem);
                }
                &:nth-child(3)::after {
                    transform: translateY(7.5rem);
                }
            }

            &--openIE &__link{
                //IE 偽元素的translate 吃不到 transition，所以transform都作在主體上(header__van__link)
                &:first-child {
                    transform: translateX(-7.5rem) translateY(-2.1rem);
                }
                &:nth-child(2) {
                    transform: translateX(-5.7rem) translateY(4.2rem);
                }
                &:nth-child(3) {
                    transform: translateX(.1rem) translateY(7.5rem);
                }
            }

        }

        & + .banner {
            margin-top: 0;
        }
    }
}