.nav {
    text-align: right;
    overflow: hidden;
    margin: 0 0 0 auto;
    padding: 15px 0;
    &__link {
        text-decoration: none;
        color: $color-primary-Gray;
        font-size: 21px;
        display: inline-block;
        padding: 6px 12px;
    }
}