.primary-main {
    font-size: 51px;
    font-weight: 900;
}
.heading {
    &-thread {
        font-size: 30px;
        font-weight: 400;
    }
    &-fourth {
        font-size: 21px;
        font-weight: 400;
    }
}