.socialList {
    // display: inline-block;
    float: right;
    &__item {
        display: inline-block;
        cursor: pointer;
        // margin: 0 3px;
        &:not(:last-child) {
            margin-right: 12px;
        }
    }
    &__icon {
        color: #666;
        &:hover {
            color: $color-primary;
        }
    }
}