.form {
    max-width: 510px;
    max-width: 600px;
    margin: auto;
    font-size: 0;
    &-group {
        position: relative;
        margin-bottom: 2.4rem;
    }
    &__label {
        display: block;
        font-size: 2.1rem;
        margin-bottom: .6rem;
        
        &--empty {
            height: 2.1rem;
        }

        &--upload {
            text-align: center;
            color: $color-gray;
            padding: 4.8rem 0;
            border: .15rem solid $color-black;
            border-radius: .9rem;
            color: $color-gray-light;
            cursor: pointer;
            & > i {
                font-size: 51px;
            }
            &-txt {
                display: inline-block;
                text-align: left;
                & > span {
                    display: block;
                    &:not(:last-child) {
                        margin-bottom: .6rem;
                    }
                }
            }
        }
    }
    &__input {
        display: block;
        font-size: 21px;
        padding: 1.2rem 0 1.2rem 1.5rem;
        width: calc(100% - 1.5rem);
        outline: none;
        border: .15rem solid $color-black;
        border-radius: .6rem;
    }

    &__select {
        padding: 1.2rem 0 1.2rem 1.5rem;
        width: 100%;
        border: none;
        box-shadow: 0 0 0 .15rem #000;
        border-radius: .6rem;
        font-size: 21px;
        // color: #555;

        // &:required {
        //     color: #555;
        // }

        &:required:invalid {
            color: #555;
        }
    }

    &__input:focus,
    &__select:focus {
        box-shadow: 0 0 0 .21rem $color-primary;
    }



    //control warn
    &__control {
        & ~ i {
            display: none;
            position: absolute;
            top: 4.3rem;
            margin: auto 0;
            right:  1.2rem;
        }
        &.warn {
            &,&:focus {
                border: .15rem solid $color-warn;
            }
            & ~ i {
                display: block;
                font-size: 18px;
                color: $color-warn;
            }

            & ~ .tooltip {
                display: block;
            }
        }

        & ~ .visa,
        & ~ .master {
            display: none;
            font-size: 2.4rem;
        }
    }



    //uploadImg 

    &__img-box {
        position: relative;
        height: 150px;
        cursor: pointer;
        overflow: hidden;

    }
    &__img-box:hover > &__uploadImg::after {
        transform: translateY(0);
    }
    &__uploadImg {
        // position: relative;
        // display: inline-block;
        // height: 150px;
        // position: absolute; top: 0; bottom: 0; left: 0;right : 0;

        width: 100%;
        // height: 100%;
        object-fit: cover;
        vertical-align: middle;


        //不刮有src的時候hidden => 沒有src的時候hidden
        &:not([src]) {
            visibility: hidden;
        }
        // &::before {
        //     content: attr(alt);
            // position: absolute; bottom: 0; left: 0; right: 0;
        //     background: #cd0000;
        //     font-size: 1.8rem;
        //     text-align: center;
        //     visibility: visible;
        // }

        //沒有src時用的「請上傳圖片」字串
        &::after {
            content: attr(alt);
            position: absolute; bottom: 0; left: 0; right: 0;
            background: $color-gray-light;
            font-size: 1.8rem;
            text-align: center;
            color: $color-white;
            padding: .6rem 0;


            transform: translateY(100%);
            transition: all .6s;
            visibility: visible;
        }
        //沒有src時的佔位
        &::before {
            content: '';
            position: absolute; top: 0;bottom: 0;left: 0;right: 0;
            // z-index: 1;
            background: rgba($color-primary,.3);
            box-shadow: 0 0 0 1px #cd0000;
            visibility: visible;
        }
    }

    &__delImg {
        position: absolute;bottom : 0;left: 0;right: 0;
        text-align: center;
        background: $color-primary;
        padding: 1.2rem 0;
        transform: translateY(100%);
        transition: all .6s;
        display: none;
        // visibility: hidden;
        & > i {
            font-size: 2.1rem;
            color: $color-white;
            vertical-align: middle;
        }
    }
    &__uploadImg[src] + &__delImg {
        display: block;
    }
    &__img-box:hover  &__delImg {
        transform: translateY(0);
    }

    &__warnMessage {
        display: none;
        padding: 1.5rem 0; 
        font-size: 2.7rem;
        text-align: center;
        letter-spacing: .12rem;
        color: $color-white;
        border-radius: .9rem;
        // visibility: hidden;
        & > i {
            vertical-align: middle;
            margin-right: .6rem;
        }
        &.warn {
            display: block;
            // visibility: visible;
            background: $color-warn;
        }
    }


    // layout
    &--1row {
        // margin-bottom: 1.2rem;
    }
    &--2col {
        display: inline-block;
        width: 45%;
        &:not(:last-child) {
            margin-right: 10%;
        }
    }
    &--3col {
        display: inline-block;
        width: 30%;
        &:not(:last-child) {
            margin-right: 3.3%;
        }
    }
}