/* * {
    margin: 0;
    padding: 0;
    list-style: none;
} */
html {
  font-family: 'Noto Sans TC', sans-serif;
  scroll-behavior: smooth;
}
.heading-secondary {
    font-size: 30px;
    font-weight: 600;
}
.heading-thread {
    font-size: 36px;
    font-weight: 600;
}
.heading-fourth {
    font-size: 18px;
    font-weight: 600;
}
.heading-fifth {
    font-size: 15px;
    font-weight: 500;
}

/* btn */
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
}

.btn--howProcess:link,
.btn--howProcess:visited {
    display: block;
    position: relative;
    height: 63px;
    line-height: 63px;
    color: #fff;
}
.btn--howProcess::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 63px;
    border-radius: 50%;
    margin: 0 auto;
    z-index: -1;
    background: #143975;
}
.btn--howProcess.choose.btn--howProcess::after{
    box-shadow:0 0 0 6px #ffae1b;
    /* background: #000; */
}
.how__process__item + .how__process__item .btn--howProcess::before {
    content: '';
    position: absolute;
    left: -51%;
    right: 49%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 0;
    padding: 1px 0;
    z-index: -2;
    background: linear-gradient(90deg,
                              #000 0%,#000 10%,
                              #fff 10%,#fff 20%,
                              #000 20%,#000 30%,
                              #fff 30%,#fff 40%,
                              #000 40%,#000 50%,
                              #fff 50%,#fff 60%,
                              #000 60%,#000 70%,
                              #fff 70%,#fff 80%,
                              #000 80%,#000 90%,
                              #fff 90%,#fff 100%);
}



.btn--readmore:link,
.btn--readmore:visited {
    /* font-size: 21px; */
    color: #fff;
    padding: 6px 15px;
    background: #143975;
    border-radius: 12px; 

    transition: all .6s;
}
.btn--readmore:hover {
    background: #ffae1b;
}


/* header */
.header {
    padding: 18px 15px;
    background: #143975;
    overflow: hidden;
}
.header__logo-box {
    float: left;
    min-width: 120px;
    padding: 30px 0;
    background: url("../img/logo.png") no-repeat center center / contain;
}
.header__navigation {
    /* box-shadow: 0 0 0 1px #cd0000; */
    overflow: hidden;
    text-align: right;
    padding: 12px 0;
    font-size: 0;
}
.header__navigationLink:link,
.header__navigationLink:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}
.header__navigationLink + .header__navigationLink {
    margin-left: 60px;
}


/* banner */
.banner {
    position: relative;
    /* top: -96px; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .banner > span {
    display: block;
    text-align: center;
    color: #fff;
} */
.banner__video {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: url("../img/banner.jpg") no-repeat center center / cover;
}
.banner-txt {
    transform: translateY(50%);
    text-align: center;
    color: #fff;
}
.banner__editor {
    position: absolute;
    bottom: 21px;
    right: 21px;
}
.banner__editor > span {
    display: block;
    color: #fff;
}
.banner__scroll {
    position: absolute;
    bottom: 21px;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 65px;
    background: #fff;
    border-radius: 15px;
    cursor: pointer;
}
.banner__scroll::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 9px solid #143975;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    will-change: transform;
    animation: bannerScroll ease-in-out 1.5s infinite;
}


/* section--hr */
.section--hr {
    padding: 60px 0;
    background: url('../img/sec_hr.jpg') fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.section--hr__title {
    color: #fff;
    text-align: center;
    line-height: 2;
}
.section--hr__title > span {
    display: block;
    text-align: center;
    user-select: none;
}
/* section */

.section {
    padding: 60px 0;
}
.section__title {
    position: relative;
    color: #143975;
    text-align: center;
    letter-spacing: 12px;
    line-height: 1;
}
.section--who {
    /* position: relative; */
    /* padding: 60px 0; */
    background: #eee;
    border: 3px solid #fff;
}
.section--who::after{
    content: '';
    display: block;
    height: 0;
    padding: .5px 0;
    margin: 30px 12% 0;
    background: #666;
}
.who__logoBox {
    height: 120px;
    width: 210px;
    margin: 0 auto 45px;
    cursor: pointer;
}
.who__logoBox > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}
.who__container {
    display: flex;
    margin: 0 18%;
    /* respon(<1024px) */
}
.who__imgWrap {
    min-width: 51%;
    max-width: 57%;
    /* width: 51%; */
    display: flex;
}
.who__intro {
    width: 45%;
    margin-left: 1%;
    padding: 60px 51px;
    background: #143975;
    color: #fff;
}
.who__img-box {
    flex: 1;
    cursor: pointer;
    transition: all .75s;

}
.who__img-box:nth-child(2) {
    margin: 0 1%;
}
.who__img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.who__img-box.open {
    flex: 4;
}
.who__intro__title {
    margin-bottom: 21px;
    transition: all .6s;
}
.who__intro__title::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-bottom: 12px;
    padding: 3px 18px;
    background: yellow;
}
.who__intro > p {
    font-size: 15px;
    transition: all .6s;
}

/* section how */
.section--how::after {
    content: '';
    display: block;
    margin: 60px 6% 0 6%;
    height: 1px;
    background: #000;
}


/* .how__title {
    position: relative;
    color: #143975;
    text-align: center;
    letter-spacing: 12px;
    line-height: 1;
} */
.section__title > span {
    font-size: 30px;
}
.section__title::before {
    content: '';
    position: absolute;
    left: -210px;
    right: 0;
    /* top: 0; */
    bottom: 0;
    margin: auto;
    width: 0;
    /* height: 24px; */
    padding: 12px 3px;
    background: #143975;
}
.how__process {
    padding: 15px 0;

}
.how__process-container {
    margin: 0 30%;
    padding: 12px 0;
    position: relative;
    overflow: hidden;
}

.how__process__item {
    float: left;
    width: 20%;
    text-align: center;
}
.how__process__itemName {
    margin-bottom: 6px;
}
.how-videoContainer {
    min-width: 600px;
    max-width: 900px;
    height: 450px;
    margin: 0 auto;
    background: #000;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;

    /* color: #fff; */
    /* font-size: 60px; */
    /* text-align: center; */
    /* line-height: 450px; */
    /* letter-spacing: 60px; */
}
.how-video {
    display: inline-block;
    width: 100%;
    transition: all .75s;

    /* transform: translateX(-100%); */
}
.how-video > iframe {
    width: 100%;
}

/* section result */
.result-container {
    padding: 60px 0;
    /* margin: 0 18%; */
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
}
.result__map {
    position: relative;
    display: inline-block;
    min-width: 450px;
    padding: 210px 0;
    background: url("../img/cc_area.png") no-repeat center / contain;
}
.result__map__town {
    position: absolute;
    left: 0;
    top: 0;

}
.result__map__town.choose {
    transform: scale(1.2);
    z-index: 99;
}
.result__map__town.choose .result__map__townName {
    background: #143975;
}
.result__map__townName {
    border-radius: 9px;
    padding: 3px 6px;
    color: #fff;
    background: #a0b1ce;
    cursor: pointer;
}
.result__map__point {
    width: 18px;
    padding: 15px 0;
    margin: 0 auto;
    background: url("../img/pin.png") no-repeat center / contain;
    cursor: pointer;
}
.result__map__town:nth-child(1) {
    left: 63px;
    top: 155px;
}
.result__map__town:nth-child(2) {
    left: 105px;
    top: 192px;
}
.result__map__town:nth-child(3) {
    left: 150px;
    top: 200px;
}
.result__map__town:nth-child(4) {
    left: 195px;
    top: 100px;
}
.result__map__town:nth-child(5) {
    left: 233px;
    top: 213px;
}
.result__map__town:nth-child(6) {
    left: 260px;
    top: 251px;
}
.result__detail {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
    width: calc(100% - 450px);
}

.result__data-container {
    position: relative;
    white-space: nowrap;
    overflow: hidden;

}
.result__data {
    display: inline-block;
    width: 100%;
    overflow: hidden;

    transition: transform 1s;
}
.result__data__txt {
    float: left;
    padding: 42px 0px;
    width: 45%;
    letter-spacing: 3px;
}
.result__data__txt__address {
    font-size: 18px;
}
.result__data__txt__weight {
    font-size: 45px;
    color: #ffae1b;
}
.result__data__txt__weight > span {
    font-size: 30px;
    color: #143975;
}
.result__data__txt__address::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    padding: 0 105px;
    margin: 15px 0;
    background: #999;
}
.result__data__img {
    overflow: hidden;
    padding: 150px 0;
    /* background: #666; */
    /* background: url("../img/town_0.jpg") no-repeat center center / cover; */
}

.result__detail__direct {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.result__detail__direct__btn:link,
.result__detail__direct__btn:visited {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 45px;
    width: 45px;
    font-size: 24px;
    text-decoration: none;
    line-height: 45px;
    color: #fff;
    text-align: center;
}
.result__detail__direct__btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    background: #143975;
}
.detail__prev {
    left : -60px
}
.detail__next {
    right: -60px;
}

.result__detail__nav {
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    padding: 15px 0;
    text-align: center;
}
.result__detail__nav__circle:link,
.result__detail__nav__circle:visited {
    text-decoration: none;
    display:inline-block;
    margin: 0 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #999;
}
.result__detail__nav__circle:link.choose,
.result__detail__nav__circle:visited.choose {
    background: #143975;
}



.result-container--create {
    min-width: 600px;
    max-width: 660px;
}
.result__create {
    position: relative;
    display: inline-block;
    padding: 63px 0;
    width: 270px;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
    opacity: 0;
    transition: opacity .6s;
}
.result__create.show {
    opacity: 1;
}
.result__create::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    background: #143975;
}
.result__create:nth-child(1) {
    margin-right: calc(100% - 540px);
}


/* section--news */

.news__sectionTitle {
    text-align: center;
    letter-spacing: 6px;
    color: #143975;
    position: relative;
}

.news__sectionTitle::before {
    content: '';
    position: absolute;
    right: 150px;
    left: 0;
    bottom: 0;
    top: 0;
    margin: 0 auto;
    background: #143975;
    width: 6px;
}
.news-container {
    margin: 0 18%;
    display: flex;
    padding: 30px 0;
}
.news-wrap {
    flex: 1;
}
.news-wrap:not(:last-child) {
    margin-right: 18px;
}
.news__img {
    padding: 105px 0;
    /* background: url('./img/news_1.jpg') no-repeat center center / cover; */
    margin-bottom: 15px;
}
.news__title {
    padding-right: 30px;
    letter-spacing: 1.5px;
    font-size: 18px;
    color: #143975;
}

.news-txt {
    margin-bottom: 15px;
}

.news-txt::before {
    content: '';
    display: block;

    /* 1 */
    /* height: 1px;
    padding: 12px 0;
    background: #000;
    background-clip: content-box; */
    /* 2 */
    height: 1px;
    background: #000;
    margin: 15px 0;
}
.news-txt__article {
    color: #333;
}
.news-txt__time {
    font-size: 15px;
    color: #999;
}


/* section--boss */
.boss-txt {
    padding: 60px 0;
}
.boss-txt__article {
    line-height: 2.1;
}
.boss-txt__article__part {
    display: block;
    text-align: center;
    color: #333;

}

.boss-videoContain {
    max-width: 640px;
    margin: auto;
    background: #000;
    min-height: 360px;
    /* max-height: 960px; */
    background: url("../img/hiddenvd.jpg") no-repeat center center / cover;

    position: relative;
    cursor: pointer;
}
.boss-videoContain__playOutSide {
    position: absolute;left : 0;right : 0;top: 0;bottom: 0;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    margin: auto;
    background: #cd0000;
    border: 3px solid #fff;
    border-radius: 50%;
    /* z-index: 800; */
    /* z-index: 1000; */


    transition: all .3s;
    transition-delay: 1s;
}
.boss-videoContain__playMask {
    position: absolute;left : -3px;top: -3px;
    margin: auto;
    box-sizing: border-box;
    width: 60px;
    height: 120px;
    border-radius: 60px 0 0 60px;
    background: #fff;
    z-index: 300;
    opacity: 1;

    /* animation: bossPlayButtonMask 3s infinite linear; */
    /* transition-delay: 1.5s; */

    /* opacity: 0; */
}
.boss-videoContain__playOutSide::after,
.boss-videoContain__playOutSide::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 120px;
    transform-origin: 60px 60px;
}
.boss-videoContain__playOutSide::after {
    right: -3px; top: -3px;
    border-radius: 0 60px 60px 0 ;
    background: #cd0000;
    z-index: 100;
    opacity: 0;
    
    /* animation: bossPlayButtonRightHalf 3s infinite linear; */
    /* visibility: hidden; */
}
.boss-videoContain__playOutSide::before {
    left: -3px;top: -3px;
    border-radius: 60px 0 0 60px;
    background: #cd0000;

    z-index: 200;


    /* animation: bossPlayButtonLeftHalf 3s infinite linear; */

    /* transform: rotate(90deg); */

    /* visibility: hidden; */
}
.boss-videoContain__playInSide {
    position: absolute;left : 0;right : 0;top: 0;bottom: 0;
    margin: auto;
    box-sizing: border-box;
    /* width: 120px; */
    /* height: 120px; */
    border-radius: 50%;
    background: #fff;

    z-index: 900;
    /* z-index: -1; */
}
.boss-videoContain__playInSide::before {
    content: '';
    position: absolute;top: 0;bottom: 0;left: 0;right: 0;
    border-radius: 50%;
    /* background: #000; */
}
.boss-videoContain__playInSide::after {
    content: '';
    position: absolute;top: 0;left: 12px;right: 0;bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 42px solid #000;
    border-radius: 3px;
}
.boss-videoContain:hover .boss-videoContain__playOutSide {
    transform: translateY(-6px);
}
.boss-videoContain:hover .boss-videoContain__playOutSide::after{
    animation: bossPlayButtonRightHalf 1s linear forwards;
    
}
.boss-videoContain:hover .boss-videoContain__playOutSide::before {
    animation: bossPlayButtonLeftHalf 1s linear forwards;

}
.boss-videoContain:hover .boss-videoContain__playMask {
    animation: bossPlayButtonMask 1s linear forwards;
}

.boss-hiddenVideo {
    position: fixed;
    display: none;
    left: 0;right: 0;top:0;bottom: 0;
    background: rgba(255,255,255,.75);
    z-index: 9999;
}
.boss-hiddenVideo > iframe {
    position: absolute;left: 0;right: 0;bottom: 0;top: 0;
    margin: auto;
}
.boss-hiddenVideo__cancel {
    position: absolute;top: 30px;right: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.boss-hiddenVideo__cancel::after,
.boss-hiddenVideo__cancel::before {
    content: '';
    position: absolute;left : 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    width: 6px;
    background: #333;
    transform-origin: center center;
}
.boss-hiddenVideo__cancel::before {
    transform: rotate(45deg)
}
.boss-hiddenVideo__cancel::after {
    transform: rotate(-45deg);
}
/* .boss-videoContain::before,
.boss-videoContain::after {
    content: '';
    position: absolute;left : 0;right : 0;top: 0;bottom: 0;
    margin: auto;
}
.boss-videoContain::before {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;

    box-shadow: 0 0 0 3px #fff;
    transition: all .6s;
}
/* .boss-videoContain::before,
.boss-videoContain::after {
    content: '';
    position: absolute;left : 0;right : 0;top: 0;bottom: 0;
    margin: auto;
}
.boss-videoContain::before {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;

    box-shadow: 0 0 0 3px #fff;
    transition: all .6s;
}
.boss-videoContain::after {
    left: 12px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 42px solid #000;
    border-radius: 3px;

    transition: all .6s;
}
.boss-videoContain:hover::before,
.boss-videoContain:hover::after {
    transform: translateY(-6px);
}

.boss-videoContain:hover::before {
    box-shadow: 0 0 0 3px #fff,
                inset 0px 0px 6px 1.5px rgba(30,0,0),
                0 9px 12px 3px rgba(30,0,0);

                /* 0 0 0 1.5px #aa0000, */
/* }
.boss-videoContain:hover::after {
    border-left-color: #cd0000;
}
.boss-videoContain:active::before,
.boss-videoContain:active::after {
    transform: translateY(-3px);
} */



/* section--joinus */
.section--joinus::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin: 120px auto -60px;
    padding: 0 36%;
    background: #999;
    /* background-clip: content-box; */
}
.joinus-slogan {
    padding: 60px 0;
}
.joinus-slogan__img {
    padding: 90px 0 ;
    min-width: 540px;
    max-width: 600px;
    margin: auto;
    background: url('../img/news_1.jpg') no-repeat center 15% / cover;
}
.joinus-slogan__txt {
    min-width: 450px;
    max-width: 540px;
    margin: 0 auto;
    margin-top: -45px;
    padding: 21px 0;
    text-align: center;
    background: #143975;
    color: #fff;
}
.joinus-slogan__txt__title > span {
    display: block;
    letter-spacing: 3px;
    line-height: 1.8;

}
.joinus-content {
    text-align: center;
}
.joinus-content__list {
    list-style: none;
    padding: 21px 0;
    counter-reset: join;
}
.joinus-content__listItem {
    padding: 12px 0;
}
.joinus-content__listItem::before {
    content: counters(join,'-') '.';
    counter-increment: join;
}
.joinus-concat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.joinus-concat__infoWrap {
    position: relative;
    background: #fff;
}
.joinus-concat__infoWrap:not(:last-child)::before  {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 0; */
    margin: auto;
    height: 1px;
    transform: translateX(100%);
    background: #000;
    z-index: -1;
}
.joinus-concat__infoWrap::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(75px);
}
.joinus-concat__infoWrap--mail::after {
    content: '※請註明聯絡人、聯絡電話';
}
.joinus-concat__infoWrap--phone::after{
    content: '※週一至週五早上9點至晚上18點。週六、日休息';
    left: -60px;
    right: -60px;
}
.joinus-concat__infoWrap:not(:last-child) {
    margin-right: 120px;
}


.joinus-concat__info {
    position: relative;
    padding: 21px 48px;
    box-shadow: 0 0 0 1px #000;
    line-height: 1.5;
}
.joinus-concat__info__title {
    color: #143975;
    letter-spacing: 3px;

}
.joinus-concat__info::after,
.joinus-concat__info::after{
    position: absolute;
    padding: 21px 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(72%);
    margin: 0 15%;
    background: #143975;
    color: #fff;
}
.joinus-concat__info--mail::after {
    content: '合作信箱';
}
.joinus-concat__info--phone::after {
    content: '合作電話';
}
.joinus-concat__info > span {
    font-size: 15px;
    letter-spacing: 2.1px;
}

/* footer */
.footer {
    padding: 60px 0 0;
}
.footer__direct {
    padding: 0 12%;
    font-size: 0;
    margin-bottom: 30px;
}
.footer__direct > a:link,
.footer__direct > a:visited {
    display: inline-block;
    min-width: 18%;
    padding: 18px 0;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    letter-spacing: 1.5px;
    box-shadow: 0 0 0 1px #000;

    transition: all .3s;
}
.footer__direct > a:not(:last-child) {
    margin-right: 2%;
}
.footer__direct > a:hover {
    background: #143975;
    color: #fff;
}
.footer__copyright {
    padding: 21px 0;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    background: #143975;
}
/* anmation */
@keyframes bannerScroll {
    0% {
        transform: translateY(0);
        /* top: 0; */
    }
    50% {
        transform: translateY(100%);
        /* top: 75%; */
    }
    100% {
        transform: translateY(0);
        /* top: 0; */
    }
}
@keyframes bossPlayButtonRightHalf {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;

    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bossPlayButtonLeftHalf {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bossPlayButtonMask {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;

    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width:1024px) {
    .who__container {
        margin: 0;
    }
}